build --cpu=darwin_x86_64
build --apple_platform_type=macos
build --xcode_version=10.2.1

# Disable the Swift compilation worker when running integration tests, since it
# requires the protobuf dependency which is infeasible to get working on Bazel.
build --define=RULES_SWIFT_BUILD_DUMMY_WORKER=1
build --strategy=SwiftCompile=local

# invalid escape sequence: \d. You can enable unknown escape sequences by passing the flag 
build --incompatible_restrict_string_escapes=false